<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
		<property name="url" value="jdbc:sqlserver://localhost:1433;database=wms"></property>
		<property name="username" value="rg"></property>
		<property name="password" value="123"></property>
		<property name="defaultAutoCommit"><value>true</value></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		scope="prototype">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>pub/sanalar/wms/models/WmsCheckProductShelf.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsStorage.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsProductSupplier.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsApplicationState.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsUserType.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsStorageCondition.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsCheckState.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsProductCondition.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsDispatch.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsOrderState.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsOutApplicationProduct.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsCategory.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsProductShelf.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsWarehouse.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsInApplication.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsInApplicationProduct.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsCondition.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsDispatchState.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsProduct.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsDispatchProductShelf.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsSupplier.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsUser.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsShelf.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsOrderLine.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsCheck.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsOutApplication.hbm.xml</value>
				<value>pub/sanalar/wms/models/WmsOrder.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean
		id="htmlLoginActionBean" class="pub.sanalar.wms.actions.HtmlLoginAction" scope="prototype">
	</bean>
	<bean id="checkLoginDaoBean"
		class="pub.sanalar.wms.daos.CheckLoginDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="productQueryDaoBean"
		class="pub.sanalar.wms.daos.ProductQueryDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="categoryQueryDaoBean"
		class="pub.sanalar.wms.daos.CategoryQueryDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="conditionQueryDaoBean"
		class="pub.sanalar.wms.daos.ConditionQueryDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="warehouseQueryDaoBean"
		class="pub.sanalar.wms.daos.WarehouseQueryDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="statisticsDaoBean"
		class="pub.sanalar.wms.daos.StatisticsDao">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="categoryQueryDao" ref="categoryQueryDaoBean"></property>
	</bean>
	<bean id="checkQueryDaoBean"
		class="pub.sanalar.wms.daos.CheckQueryDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="checkLoginActionBean" 
	class="pub.sanalar.wms.actions.CheckLoginAction" 
	scope="prototype">
		<property name="checkLoginDao" ref="checkLoginDaoBean"></property>
	</bean>
	<bean id="htmlProductActionBean" 
	class="pub.sanalar.wms.actions.HtmlProductAction" 
	scope="prototype">
		<property name="productQueryDao" ref="productQueryDaoBean"></property>
		<property name="categoryQueryDao" ref="categoryQueryDaoBean"></property>
		<property name="category1" value="0"></property>
		<property name="category2" value="0"></property>
		<property name="search" value=""></property>
		<property name="page" value="1"></property>
	</bean>
	<bean id="htmlProductDetailsActionBean" 
	class="pub.sanalar.wms.actions.HtmlProductDetailsAction" 
	scope="prototype">
		<property name="categoryQueryDao" ref="categoryQueryDaoBean"></property>
		<property name="productQueryDao" ref="productQueryDaoBean"></property>
		<property name="conditionQueryDao" ref="conditionQueryDaoBean"></property>
		<property name="warehouseQueryDao" ref="warehouseQueryDaoBean"></property>
	</bean>
	<bean id="uploadProductImageActionBean" 
	class="pub.sanalar.wms.actions.UploadProductImageAction" 
	scope="prototype">
		<property name="productQueryDao" ref="productQueryDaoBean"></property>
	</bean>
	<bean id="editProductActionBean" 
	class="pub.sanalar.wms.actions.EditProductAction" 
	scope="prototype">
		<property name="productQueryDao" ref="productQueryDaoBean"></property>
		<property name="categoryQueryDao" ref="categoryQueryDaoBean"></property>
	</bean>
	<bean id="htmlStorageActionBean" 
	class="pub.sanalar.wms.actions.HtmlStorageAction" 
	scope="prototype">
		<property name="warehouseQueryDao" ref="warehouseQueryDaoBean"></property>
	</bean>
	<bean id="jsonDataProviderActionBean" 
	class="pub.sanalar.wms.actions.JsonDataProvideAction" 
	scope="prototype">
		<property name="warehouseQueryDao" ref="warehouseQueryDaoBean"></property>
		<property name="productQueryDao" ref="productQueryDaoBean"></property>
	</bean>
	<bean id="htmlStreamActionBean" 
	class="pub.sanalar.wms.actions.HtmlStreamAction" 
	scope="prototype">
		<property name="warehouseQueryDao" ref="warehouseQueryDaoBean"></property>
		<property name="statisticsDao" ref="statisticsDaoBean"></property>
	</bean>
	<bean id="htmlNewCheckActionBean" 
	class="pub.sanalar.wms.actions.HtmlNewCheckAction" 
	scope="prototype">
		<property name="warehouseQueryDao" ref="warehouseQueryDaoBean"></property>
		<property name="categoryQueryDao" ref="categoryQueryDaoBean"></property>
	</bean>
	<bean id="newCheckActionBean" 
	class="pub.sanalar.wms.actions.NewCheckAction" 
	scope="prototype">
		<property name="checkQueryDao" ref="checkQueryDaoBean"></property>
	</bean>
</beans>