.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input-field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #aaa;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input-field:focus {
    outline: none;
}

.input-label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: transparent;
    font-weight: bold;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

/* Kozakura */
.input-kozakura {
    overflow: hidden;
    padding-bottom: 1em;
}

.input-field-kozakura {
    padding: 5px 0 0 0;
    margin-top: 1.25em;
    width: calc(100% - 5px);
    background: transparent;
    color: #2F3238;
    font-size: 1.55em;
    opacity: 0;
}

.input-label-kozakura {
    width: 100%;
    text-align: left;
    position: absolute;
    top: -0.5em;
    pointer-events: none;
    overflow: hidden;
    padding: 0 0.25em;
    -webkit-transform: translate3d(1em, 2.75em, 0);
    transform: translate3d(1em, 2.75em, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input-label-content-kozakura {
    color: #fff;
    padding: 0.4em 0 0.25em;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input-label-content-kozakura::after {
    content: attr(data-content);
    position: absolute;
    font-weight: 800;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    color: #5bc0de;
    padding: 0.55em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}

.graphic-kozakura {
    fill: rgba(0, 162, 232, 0.3);
    pointer-events: none;
    top: 1em;
    bottom: 0;
    height: 4.5em;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.7s, fill 0.7s;
    transition: transform 0.7s, fill 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input-field-kozakura:focus,
.input-filled .input-field-kozakura {
    -webkit-transition: opacity 0s 0.35s;
    transition: opacity 0s 0.35s;
    opacity: 1;
}

.input-field-kozakura:focus + .input-label-kozakura,
.input-filled .input-label-kozakura {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input-field-kozakura:focus + .input-label-kozakura .input-label-content-kozakura,
.input-filled .input-label-content-kozakura {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.input-field-kozakura:focus ~ .graphic-kozakura,
.input-filled .graphic-kozakura {
    fill: #fff;
    -webkit-transform: translate3d(-66.6%, 0, 0);
    transform: translate3d(-66.6%, 0, 0);
}
